<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G2022</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alfredpreferences</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>appicon</string>
			<key>CFBundleTypeName</key>
			<string>Alfred Preferences</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.runningwithcrayons.alfred.preferences</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alfredworkflow</string>
				<string>alfred3workflow</string>
				<string>alfred4workflow</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>workflowicon</string>
			<key>CFBundleTypeName</key>
			<string>Alfred Workflow</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.runningwithcrayons.alfred.workflow</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alfredappearance</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>themeicon</string>
			<key>CFBundleTypeName</key>
			<string>Alfred Theme</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.runningwithcrayons.alfred.appearance</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alfredsnippets</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>snippetsicon</string>
			<key>CFBundleTypeName</key>
			<string>Alfred Snippets</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.runningwithcrayons.alfred.snippets</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Alfred</string>
	<key>CFBundleIconFile</key>
	<string>appicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.runningwithcrayons.Alfred</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Alfred</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Alfred URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alfred</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1135</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10G8</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18G74</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1030</string>
	<key>DTXcodeBuild</key>
	<string>10G8</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Required for Alfred to be able to send automation events to this application.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Alfred or a workflow would like access to your Calendars to enable integration.</string>
	<key>NSContactsUsageDescription</key>
	<string>Alfred accesses your contacts for searching and presenting you with relevant results, as well as showing you contact cards.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Running with Crayons. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>AlfredApp</string>
	<key>NSRemindersUsageDescription</key>
	<string>Alfred or a workflow would like access to your Reminders to enable integration.</string>
	<key>OSAScriptingDefinition</key>
	<string>Alfred.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Alfred Preferences</string>
			<key>UTTypeIconFile</key>
			<string>appicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.runningwithcrayons.alfred.preferences</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>alfredpreferences</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Alfred Workflow</string>
			<key>UTTypeIconFile</key>
			<string>workflowicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.runningwithcrayons.alfred.workflow</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>alfredworkflow</string>
					<string>alfred3workflow</string>
					<string>alfred4workflow</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Alfred Theme</string>
			<key>UTTypeIconFile</key>
			<string>themeicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.runningwithcrayons.alfred.appearance</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>alfredappearance</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Alfred Snippet Collection</string>
			<key>UTTypeIconFile</key>
			<string>snippetsicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.runningwithcrayons.alfred.snippets</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>alfredsnippets</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
