<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G2022</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Bartender 3</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.surteesstudios.Bartender</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bartender 3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.20</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bartender2checkforupdatesilently</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bartender2license</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bartender2sendfeedback</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bartender2checkforupdate</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bartender2taketestbuildsandcheckforupdate</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>31120</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11C29</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B90</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C29</string>
	<key>FRFeedbackReporter.defaultSender</key>
	<string>firstEmail</string>
	<key>FRFeedbackReporter.logHours</key>
	<string>168</string>
	<key>FRFeedbackReporter.maxConsoleLogSize</key>
	<string>5000</string>
	<key>FRFeedbackReporter.sendDetailsIsOptional</key>
	<string>YES</string>
	<key>FRFeedbackReporter.targetURL</key>
	<string>https://www.macbartender.com/feedback/submit.php?project=%@</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>This is to allow you to select an email address we can respond to if you leave feedback or a crash report.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Surtees Studios. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>Bartender</string>
	<key>NSPrincipalClass</key>
	<string>EventCatcherApplication</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUBundleName</key>
	<string>Bartender</string>
	<key>SUEnableAutomaticChecks</key>
	<string>TRUE</string>
	<key>SUFeedURL</key>
	<string>https://www.macbartender.com/B2/updates/updatesB3.php</string>
	<key>SUOriginalFeedURL</key>
	<string>https://www.macbartender.com/B2/updates/updatesB3.php</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
</dict>
</plist>
