<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeveloperName</key>
	<string>Surtees Studios</string>
	<key>ApplicationDescription</key>
	<string>Bartender lets you organise and control your menu bar items.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.macbartender.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80, 443</string>
			<key>Purpose</key>
			<string>Bartender periodically checks for new versions, and allows you to send feedback to Surtees Studios.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, you will not be notified about new versions, and will not be able to send feedback from Bartender to Surtees Studios. Instead you can disable automatic update checking in Bartender preferences.</string>
		</dict>
	</array>
</dict>
</plist>
