<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>location</key>
		<string>International</string>
	</dict>
	<key>notifications</key>
	<dict>
		<key>removewhenclicked</key>
		<true/>
		<key>showIconInMavericks</key>
		<true/>
	</dict>
	<key>features.defaultresults</key>
	<dict>
		<key>showPreferences</key>
		<true/>
		<key>showContacts</key>
		<true/>
		<key>showContactsUsingMetadata</key>
		<false/>
		<key>showBookmarks</key>
		<false/>
		<key>showFolders</key>
		<false/>
		<key>showArchives</key>
		<false/>
		<key>showImages</key>
		<false/>
		<key>showTextFiles</key>
		<false/>
		<key>showDocuments</key>
		<false/>
		<key>showAppleScripts</key>
		<false/>
		<key>showUserDefined</key>
		<array/>
		<key>showAll</key>
		<false/>
		<key>applicationCaching</key>
		<true/>
		<key>applicationFuzzyType</key>
		<integer>0</integer>
		<key>applicationUseKeywords</key>
		<false/>
		<key>fallbacks</key>
		<array>
			<string>features.websearch.google.fallback</string>
			<string>features.websearch.amazon.fallback</string>
			<string>features.websearch.wiki.fallback</string>
		</array>
		<key>fallbacksMode</key>
		<integer>0</integer>
	</dict>
	<key>features.filesearch</key>
	<dict>
		<key>quicksearch</key>
		<true/>
		<key>ignoreEmails</key>
		<true/>
		<key>ignoreContacts</key>
		<true/>
		<key>ignoreCalendar</key>
		<true/>
		<key>ignoreBookmarks</key>
		<true/>
		<key>ignoreHistory</key>
		<true/>
		<key>ignoreMessages</key>
		<true/>
		<key>ignoreImages</key>
		<false/>
		<key>ignoreMusic</key>
		<false/>
		<key>ignoreSource</key>
		<false/>
		<key>ignorePlist</key>
		<false/>
		<key>limit</key>
		<integer>0</integer>
		<key>runAppleScripts</key>
		<true/>
		<key>fileTypeIconsForExternalFiles</key>
		<true/>
		<key>touchFolders</key>
		<true/>
		<key>touchAliases</key>
		<true/>
	</dict>
	<key>features.filesearch.open</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>keyword</key>
		<string>open</string>
	</dict>
	<key>features.filesearch.find</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>keyword</key>
		<string>find</string>
	</dict>
	<key>features.filesearch.in</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>keyword</key>
		<string>in</string>
	</dict>
	<key>features.filesearch.tag</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>keyword</key>
		<string>tags</string>
	</dict>
	<key>features.filesearch.navigation</key>
	<dict>
		<key>homeFolder</key>
		<integer>0</integer>
		<key>arrowsForFolderNavigation</key>
		<false/>
		<key>returnToOpenFolders</key>
		<false/>
		<key>previousPathHotkey</key>
		<dict>
			<key>key</key>
			<integer>44</integer>
			<key>mod</key>
			<integer>1572864</integer>
			<key>string</key>
			<string>/</string>
		</dict>
		<key>previousPathKeywordEnabled</key>
		<true/>
		<key>previousPathKeyword</key>
		<string>previous</string>
		<key>fuzzy</key>
		<true/>
	</dict>
	<key>features.filesearch.quicklook</key>
	<dict>
		<key>showWithShift</key>
		<true/>
	</dict>
	<key>features.filesearch.preview</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>notForTypes</key>
		<array/>
		<key>notInPaths</key>
		<array/>
	</dict>
	<key>features.filesearch.buffer</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>clearAfterActioning</key>
		<true/>
		<key>clearAfterIdle</key>
		<false/>
		<key>useShift</key>
		<false/>
	</dict>
	<key>features.filesearch.actions</key>
	<dict>
		<key>showWithRightArrow</key>
		<true/>
		<key>showWithFn</key>
		<true/>
		<key>showWithCtrl</key>
		<true/>
		<key>showWithTab</key>
		<false/>
		<key>sortByUsage</key>
		<false/>
		<key>disabledDefaultActions</key>
		<dict/>
		<key>escapeCopiedPath</key>
		<false/>
		<key>finderSelectionHotkey</key>
		<dict>
			<key>key</key>
			<integer>42</integer>
			<key>mod</key>
			<integer>1572864</integer>
			<key>string</key>
			<string>\</string>
		</dict>
	</dict>
	<key>features.websearch</key>
	<dict>
		<key>customSites</key>
		<dict/>
		<key>onlyShowEnabledInPrefs</key>
		<false/>
	</dict>
	<key>features.websearch.urls</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>defaultscheme</key>
		<integer>0</integer>
		<key>schemesEnabled</key>
		<false/>
		<key>historyEnabled</key>
		<true/>
		<key>historyExpiry</key>
		<integer>1</integer>
	</dict>
	<key>features.webbookmarks</key>
	<dict>
		<key>mode</key>
		<integer>0</integer>
		<key>keyword</key>
		<string>bm</string>
		<key>browsermode</key>
		<integer>0</integer>
	</dict>
	<key>features.dictionary</key>
	<dict>
		<key>definitionsOnly</key>
		<true/>
		<key>autoPaste</key>
		<false/>
	</dict>
	<key>features.dictionary.define</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>keyword</key>
		<string>define</string>
	</dict>
	<key>features.dictionary.spell</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>keyword</key>
		<string>spell</string>
	</dict>
	<key>features.contacts</key>
	<dict>
		<key>invertName</key>
		<false/>
		<key>showTitle</key>
		<false/>
		<key>showJobTitle</key>
		<false/>
		<key>mapURL</key>
		<string>https://maps.apple.com/?q={query}</string>
		<key>openInAlfred</key>
		<true/>
		<key>showNotes</key>
		<true/>
		<key>urlHandler</key>
		<string>addressbook://{uid}</string>
		<key>urlHandlerEnabled</key>
		<false/>
		<key>customFields</key>
		<array/>
	</dict>
	<key>features.contacts.email</key>
	<dict>
		<key>keyword</key>
		<string>email</string>
		<key>keywordEnabled</key>
		<true/>
		<key>showViewerIfMultiEmail</key>
		<false/>
		<key>useGmail</key>
		<false/>
		<key>gmailUrl</key>
		<string>https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to={query}</string>
		<key>singleSubjectEnabled</key>
		<true/>
		<key>singleSubject</key>
		<string>File Attached: {filename}</string>
		<key>multiSubjectEnabled</key>
		<true/>
		<key>multiSubject</key>
		<string>{count} Files Attached</string>
	</dict>
	<key>features.calculator</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>advanced</key>
		<true/>
		<key>inputType</key>
		<integer>0</integer>
		<key>inputIgnoreThousandsDelimiter</key>
		<false/>
		<key>outputType</key>
		<integer>0</integer>
		<key>outputShowThousandsDelimiter</key>
		<true/>
	</dict>
	<key>features.clipboard</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>key</key>
			<integer>8</integer>
			<key>mod</key>
			<integer>1572864</integer>
			<key>string</key>
			<string>C</string>
		</dict>
		<key>persistFor</key>
		<integer>1</integer>
		<key>persistForImages</key>
		<integer>0</integer>
		<key>persistForFiles</key>
		<integer>0</integer>
		<key>clearKeywordEnabled</key>
		<true/>
		<key>clearKeyword</key>
		<string>clear</string>
		<key>viewerKeywordEnabled</key>
		<true/>
		<key>viewerKeyword</key>
		<string>clipboard</string>
		<key>snippetKeywordEnabled</key>
		<true/>
		<key>snippetKeyword</key>
		<string>snip</string>
		<key>snippetMatchFields</key>
		<integer>0</integer>
		<key>snippetMatchWordBased</key>
		<true/>
		<key>snippetsAtTop</key>
		<true/>
		<key>snippetsWhenSearching</key>
		<true/>
		<key>ignoreRemoteClipboard</key>
		<false/>
		<key>blacklist</key>
		<array>
			<string>Keychain Access</string>
			<string>SecurityAgent</string>
			<string>1Password</string>
			<string>Wallet</string>
		</array>
		<key>ignoreConcealed</key>
		<true/>
		<key>fastAppend</key>
		<false/>
		<key>fastAppendBackToClipboard</key>
		<false/>
		<key>fastAppendSeparator</key>
		<integer>0</integer>
		<key>fastAppendPlaySound</key>
		<true/>
		<key>limit</key>
		<integer>0</integer>
		<key>unicodeMatching</key>
		<false/>
		<key>autoPaste</key>
		<true/>
		<key>moveToTopOnUse</key>
		<true/>
		<key>autoExpandSnippetsExcludedApps</key>
		<array>
			<string>com.runningwithcrayons.Alfred</string>
			<string>com.runningwithcrayons.Alfred-Preferences</string>
		</array>
		<key>autoExpandMidString</key>
		<false/>
		<key>autoExpandSnippetSound</key>
		<string>Morse</string>
		<key>autoExpandSnippetPlaySound</key>
		<true/>
		<key>autoExpandSnippetTriggerPlaySound</key>
		<true/>
		<key>autoExpandSimulatedKeyEventPadding</key>
		<integer>0</integer>
		<key>autoExpandRestoreClipboard</key>
		<true/>
		<key>autoExpandRestoreClipboardAfter</key>
		<integer>5</integer>
		<key>snipKeywordRestoreClipboard</key>
		<false/>
	</dict>
	<key>features.itunes</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>key</key>
			<integer>36</integer>
			<key>mod</key>
			<integer>1310720</integer>
			<key>string</key>
			<string></string>
		</dict>
		<key>keywordEnabled</key>
		<true/>
		<key>keyword</key>
		<string>itunes</string>
		<key>hideStore</key>
		<false/>
		<key>hideAfterSelectingSong</key>
		<true/>
		<key>usePlaylist</key>
		<true/>
		<key>playlist</key>
		<string>Alfred Playlist</string>
		<key>showPlaylists</key>
		<true/>
		<key>largerRandomAlbumsOnly</key>
		<true/>
		<key>indexUntickedTracks</key>
		<true/>
		<key>includeMoviesTV</key>
		<false/>
		<key>includePodcasts</key>
		<true/>
	</dict>
	<key>features.itunes.keywords</key>
	<dict>
		<key>inDefaultResults</key>
		<false/>
		<key>play</key>
		<string>play</string>
		<key>pause</key>
		<string>pause</string>
		<key>playpauseEnabled</key>
		<true/>
		<key>next</key>
		<string>next</string>
		<key>nextEnabled</key>
		<true/>
		<key>back</key>
		<string>back</string>
		<key>backEnabled</key>
		<true/>
		<key>previous</key>
		<string>previous</string>
		<key>previousEnabled</key>
		<true/>
		<key>random</key>
		<string>random</string>
		<key>randomEnabled</key>
		<true/>
		<key>volmax</key>
		<string>volmax</string>
		<key>volmaxEnabled</key>
		<true/>
		<key>volmid</key>
		<string>volmid</string>
		<key>volmidEnabled</key>
		<true/>
		<key>volmin</key>
		<string>mute</string>
		<key>volminEnabled</key>
		<true/>
	</dict>
	<key>features.1password</key>
	<dict>
		<key>keyword</key>
		<string>1p</string>
		<key>nokeyword</key>
		<false/>
		<key>ignorevaults</key>
		<array/>
		<key>onlylogins</key>
		<false/>
	</dict>
	<key>features.system</key>
	<dict>
		<key>screensaverKeyword</key>
		<string>screensaver</string>
		<key>screensaverKeywordEnabled</key>
		<true/>
		<key>showtrashKeyword</key>
		<string>trash</string>
		<key>showtrashKeywordEnabled</key>
		<true/>
		<key>emptytrashKeyword</key>
		<string>emptytrash</string>
		<key>emptytrashKeywordEnabled</key>
		<true/>
		<key>emptytrashConfirm</key>
		<false/>
		<key>logoutKeyword</key>
		<string>logout</string>
		<key>logoutKeywordEnabled</key>
		<true/>
		<key>logoutConfirm</key>
		<false/>
		<key>sleepKeyword</key>
		<string>sleep</string>
		<key>sleepKeywordEnabled</key>
		<true/>
		<key>sleepConfirm</key>
		<false/>
		<key>sleepdisplaysKeyword</key>
		<string>sleepdisplays</string>
		<key>sleepdisplaysKeywordEnabled</key>
		<true/>
		<key>sleepdisplaysConfirm</key>
		<false/>
		<key>lockKeyword</key>
		<string>lock</string>
		<key>lockKeywordEnabled</key>
		<true/>
		<key>lockConfirm</key>
		<false/>
		<key>restartKeyword</key>
		<string>restart</string>
		<key>restartKeywordEnabled</key>
		<true/>
		<key>restartConfirm</key>
		<false/>
		<key>shutdownKeyword</key>
		<string>shutdown</string>
		<key>shutdownKeywordEnabled</key>
		<true/>
		<key>shutdownConfirm</key>
		<false/>
		<key>hideKeyword</key>
		<string>hide</string>
		<key>hideKeywordEnabled</key>
		<true/>
		<key>quitKeyword</key>
		<string>quit</string>
		<key>quitKeywordEnabled</key>
		<true/>
		<key>quitallKeyword</key>
		<string>quitall</string>
		<key>quitallKeywordEnabled</key>
		<true/>
		<key>quitallConfirm</key>
		<false/>
		<key>forcequitKeyword</key>
		<string>forcequit</string>
		<key>forcequitKeywordEnabled</key>
		<true/>
		<key>ejectKeyword</key>
		<string>eject</string>
		<key>ejectKeywordEnabled</key>
		<false/>
		<key>ejectallKeyword</key>
		<string>ejectall</string>
		<key>ejectallKeywordEnabled</key>
		<false/>
		<key>ejectType</key>
		<integer>1</integer>
		<key>ejectBlacklist</key>
		<array>
			<string>Macintosh HD</string>
			<string>MobileBackups</string>
			<string>com.apple.TimeMachine*</string>
		</array>
		<key>volumeupKeyword</key>
		<string>volup</string>
		<key>volumeupKeywordEnabled</key>
		<true/>
		<key>volumedownKeyword</key>
		<string>voldown</string>
		<key>volumedownKeywordEnabled</key>
		<true/>
		<key>volumemuteKeyword</key>
		<string>mute</string>
		<key>volumemuteKeywordEnabled</key>
		<true/>
	</dict>
	<key>features.terminal</key>
	<dict>
		<key>prefix</key>
		<integer>0</integer>
		<key>application</key>
		<integer>0</integer>
		<key>custom</key>
		<string>on alfred_script(q)
	tell application &quot;Terminal&quot;
		activate
		do script q
	end tell
end alfred_script
</string>
	</dict>
	<key>workflows</key>
	<dict>
		<key>defaultBundleId</key>
		<string></string>
		<key>defaultCreatedBy</key>
		<string></string>
		<key>defaultWebsite</key>
		<string></string>
		<key>defaultReadme</key>
		<string></string>
		<key>categories</key>
		<array>
			<string>Tools</string>
			<string>Internet</string>
			<string>Productivity</string>
		</array>
		<key>rememberSelectedCategory</key>
		<false/>
		<key>showconfig</key>
		<true/>
		<key>showAlignmentGuides</key>
		<false/>
	</dict>
	<key>workflows.trigger.snippet</key>
	<dict>
		<key>keywordPrefix</key>
		<string>\\</string>
		<key>keywordSuffix</key>
		<string></string>
	</dict>
	<key>appearance.largetype</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>autohide</key>
		<false/>
		<key>showOnMouseScreen</key>
		<false/>
		<key>font</key>
		<string></string>
	</dict>
	<key>appearance.options</key>
	<dict>
		<key>hidehat</key>
		<false/>
		<key>hideshortcuts</key>
		<false/>
		<key>hidesubtext</key>
		<integer>0</integer>
		<key>hidemenu</key>
		<false/>
		<key>autohighlight</key>
		<true/>
		<key>focusmode</key>
		<integer>0</integer>
		<key>visibleresults</key>
		<integer>8</integer>
		<key>showscrollbar</key>
		<true/>
		<key>saveposition</key>
		<false/>
		<key>showOnScreen</key>
		<integer>0</integer>
		<key>nativedarkmode</key>
		<false/>
	</dict>
	<key>advanced</key>
	<dict>
		<key>shortcutmod</key>
		<integer>0</integer>
		<key>modctrl</key>
		<integer>1</integer>
		<key>modalt</key>
		<integer>2</integer>
		<key>modcmd</key>
		<integer>3</integer>
		<key>latching</key>
		<true/>
		<key>history</key>
		<true/>
		<key>autoshowhistory</key>
		<false/>
		<key>restoreclipboard</key>
		<integer>0</integer>
	</dict>
	<key>remote</key>
	<dict>
		<key>notificationOnServerStart</key>
		<true/>
		<key>notificationOnClientConnect</key>
		<true/>
		<key>serverStopKeyword</key>
		<string>rstop</string>
		<key>serverStopKeywordEnabled</key>
		<true/>
		<key>serverRestartKeyword</key>
		<string>rrestart</string>
		<key>serverRestartKeywordEnabled</key>
		<true/>
	</dict>
	<key>update</key>
	<dict>
		<key>checkForUpdates</key>
		<true/>
	</dict>
	<key>local.hotkey</key>
	<dict>
		<key>default</key>
		<dict>
			<key>key</key>
			<integer>49</integer>
			<key>mod</key>
			<integer>524288</integer>
			<key>string</key>
			<string>Space</string>
		</dict>
	</dict>
	<key>local.features.defaultresults</key>
	<dict>
		<key>scope</key>
		<array>
			<string>/Applications/Xcode.app/Contents/Applications</string>
			<string>/Developer/Applications</string>
			<string>/Library/PreferencePanes</string>
			<string>/System/Library/CoreServices/Applications</string>
			<string>/System/Library/PreferencePanes</string>
			<string>~/Library/Caches/Metadata</string>
			<string>~/Library/PreferencePanes</string>
			<string>~/Library/Mobile Documents</string>
			<string>~/Library/CloudStorage/iCloudDrive</string>
			<string>/usr/local/Cellar</string>
			<string>/opt/homebrew-cask/Caskroom</string>
		</array>
	</dict>
	<key>local.features.defaultresults.scope</key>
	<dict>
		<key>includehome</key>
		<true/>
		<key>includeapplications</key>
		<true/>
	</dict>
	<key>local.features.webbookmarks</key>
	<dict>
		<key>indexSafari</key>
		<false/>
		<key>indexChrome</key>
		<false/>
		<key>chromeProfile</key>
		<string></string>
	</dict>
	<key>local.features.filenavigation</key>
	<dict>
		<key>hidepreviewpanel</key>
		<false/>
	</dict>
	<key>local.features.filenavigation.customhomefolder</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>path</key>
		<string></string>
	</dict>
	<key>local.features.dictionary</key>
	<dict>
		<key>language</key>
		<string></string>
	</dict>
	<key>local.features.clipboard</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>enabledImages</key>
		<false/>
		<key>enabledFiles</key>
		<false/>
		<key>autoExpandSnippets</key>
		<false/>
	</dict>
	<key>local.features.1password</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>discoverkeychain</key>
		<true/>
		<key>keychainpath</key>
		<string></string>
	</dict>
	<key>local.features.itunes</key>
	<dict>
		<key>playlistsuffix</key>
		<string></string>
	</dict>
	<key>local.workflows</key>
	<dict>
		<key>debugLevel</key>
		<integer>0</integer>
		<key>debugScope</key>
		<integer>0</integer>
		<key>useproxy</key>
		<false/>
		<key>useproxyprefix</key>
		<false/>
		<key>useproxyprefixhttp</key>
		<string></string>
		<key>useproxyprefixhttps</key>
		<string></string>
	</dict>
	<key>local.appearance</key>
	<dict>
		<key>lightthemeuid</key>
		<string>theme.bundled.default</string>
		<key>darkthemeuid</key>
		<string>theme.bundled.dark</string>
	</dict>
	<key>local.appearance.options</key>
	<dict>
		<key>xPoint</key>
		<integer>0</integer>
		<key>yPoint</key>
		<integer>0</integer>
	</dict>
	<key>local.update</key>
	<dict>
		<key>prereleases</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
