<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locales</key>
	<dict>
		<key>United Kingdom</key>
		<string>uk</string>
		<key>United States</key>
		<string>us</string>
		<key>Canada</key>
		<string>ca</string>
		<key>Germany</key>
		<string>de</string>
		<key>France</key>
		<string>fr</string>
		<key>Italy</key>
		<string>it</string>
		<key>Spain</key>
		<string>es</string>
		<key>Netherlands</key>
		<string>nl</string>
		<key>Japan</key>
		<string>jp</string>
		<key>Belgium</key>
		<string>be</string>
		<key>Sweden</key>
		<string>se</string>
		<key>Greece</key>
		<string>gr</string>
		<key>New Zealand</key>
		<string>nz</string>
		<key>Australia</key>
		<string>au</string>
		<key>Portugal</key>
		<string>pt</string>
		<key>Ireland</key>
		<string>ie</string>
		<key>Czech Republic</key>
		<string>cz</string>
		<key>Denmark</key>
		<string>dk</string>
		<key>Norway</key>
		<string>no</string>
		<key>Poland</key>
		<string>pl</string>
		<key>Russia</key>
		<string>ru</string>
		<key>Austria</key>
		<string>at</string>
		<key>Finland</key>
		<string>fi</string>
		<key>Switzerland</key>
		<string>ch</string>
		<key>South Korea</key>
		<string>kr</string>
		<key>Mexico</key>
		<string>mx</string>
		<key>Romania</key>
		<string>ro</string>
		<key>Argentina</key>
		<string>ar</string>
		<key>Brazil</key>
		<string>br</string>
		<key>Thailand</key>
		<string>th</string>
		<key>Turkey</key>
		<string>tr</string>
		<key>Indonesia</key>
		<string>id</string>
		<key>Chile</key>
		<string>cl</string>
		<key>India</key>
		<string>in</string>
		<key>China</key>
		<string>cn</string>
		<key>Slovakia</key>
		<string>sk</string>
		<key>Taiwan</key>
		<string>tw</string>
		<key>Hong Kong</key>
		<string>hk</string>
		<key>Iceland</key>
		<string>is</string>
		<key>Hungary</key>
		<string>hu</string>
		<key>Luxembourg</key>
		<string>lu</string>
		<key>Singapore</key>
		<string>sg</string>
		<key>Slovenia</key>
		<string>si</string>
		<key>South Africa</key>
		<string>za</string>
		<key>Venezuela</key>
		<string>ve</string>
		<key>Israel</key>
		<string>il</string>
		<key>Ukraine</key>
		<string>ua</string>
	</dict>
	<key>alfred.web.google</key>
	<dict>
		<key>default</key>
		<string>www.google.com</string>
		<key>uk</key>
		<string>www.google.co.uk</string>
		<key>ca</key>
		<string>www.google.ca</string>
		<key>de</key>
		<string>www.google.de</string>
		<key>fr</key>
		<string>www.google.fr</string>
		<key>it</key>
		<string>www.google.it</string>
		<key>es</key>
		<string>www.google.es</string>
		<key>nl</key>
		<string>www.google.nl</string>
		<key>jp</key>
		<string>www.google.co.jp</string>
		<key>be</key>
		<string>www.google.be</string>
		<key>se</key>
		<string>www.google.se</string>
		<key>gr</key>
		<string>www.google.gr</string>
		<key>nz</key>
		<string>www.google.co.nz</string>
		<key>au</key>
		<string>www.google.com.au</string>
		<key>pt</key>
		<string>www.google.pt</string>
		<key>ie</key>
		<string>www.google.ie</string>
		<key>cz</key>
		<string>www.google.cz</string>
		<key>dk</key>
		<string>www.google.dk</string>
		<key>no</key>
		<string>www.google.no</string>
		<key>pl</key>
		<string>www.google.pl</string>
		<key>ru</key>
		<string>www.google.ru</string>
		<key>at</key>
		<string>www.google.at</string>
		<key>fi</key>
		<string>www.google.fi</string>
		<key>ch</key>
		<string>www.google.ch</string>
		<key>kr</key>
		<string>www.google.co.kr</string>
		<key>mx</key>
		<string>www.google.com.mx</string>
		<key>ro</key>
		<string>www.google.ro</string>
		<key>ar</key>
		<string>www.google.com.ar</string>
		<key>br</key>
		<string>www.google.com.br</string>
		<key>th</key>
		<string>www.google.co.th</string>
		<key>tr</key>
		<string>www.google.com.tr</string>
		<key>id</key>
		<string>www.google.co.id</string>
		<key>cl</key>
		<string>www.google.cl</string>
		<key>in</key>
		<string>www.google.co.in</string>
		<key>sk</key>
		<string>www.google.sk</string>
		<key>tw</key>
		<string>www.google.com.tw</string>
		<key>hk</key>
		<string>www.google.com.hk</string>
		<key>is</key>
		<string>www.google.is</string>
		<key>hu</key>
		<string>www.google.hu</string>
		<key>lu</key>
		<string>www.google.lu</string>
		<key>sg</key>
		<string>www.google.com.sg</string>
		<key>si</key>
		<string>www.google.si</string>
		<key>za</key>
		<string>www.google.co.za</string>
		<key>ve</key>
		<string>www.google.co.ve</string>
		<key>il</key>
		<string>www.google.co.il</string>
		<key>ua</key>
		<string>www.google.com.ua</string>
	</dict>
	<key>alfred.web.lucky</key>
	<dict>
		<key>default</key>
		<string>www.google.com</string>
		<key>uk</key>
		<string>www.google.co.uk</string>
		<key>ca</key>
		<string>www.google.ca</string>
		<key>de</key>
		<string>www.google.de</string>
		<key>fr</key>
		<string>www.google.fr</string>
		<key>it</key>
		<string>www.google.it</string>
		<key>es</key>
		<string>www.google.es</string>
		<key>nl</key>
		<string>www.google.nl</string>
		<key>jp</key>
		<string>www.google.co.jp</string>
		<key>be</key>
		<string>www.google.be</string>
		<key>se</key>
		<string>www.google.se</string>
		<key>gr</key>
		<string>www.google.gr</string>
		<key>nz</key>
		<string>www.google.co.nz</string>
		<key>au</key>
		<string>www.google.com.au</string>
		<key>pt</key>
		<string>www.google.pt</string>
		<key>ie</key>
		<string>www.google.ie</string>
		<key>cz</key>
		<string>www.google.cz</string>
		<key>dk</key>
		<string>www.google.dk</string>
		<key>no</key>
		<string>www.google.no</string>
		<key>pl</key>
		<string>www.google.pl</string>
		<key>ru</key>
		<string>www.google.ru</string>
		<key>at</key>
		<string>www.google.at</string>
		<key>fi</key>
		<string>www.google.fi</string>
		<key>ch</key>
		<string>www.google.ch</string>
		<key>kr</key>
		<string>www.google.co.kr</string>
		<key>mx</key>
		<string>www.google.com.mx</string>
		<key>ro</key>
		<string>www.google.ro</string>
		<key>ar</key>
		<string>www.google.com.ar</string>
		<key>br</key>
		<string>www.google.com.br</string>
		<key>th</key>
		<string>www.google.co.th</string>
		<key>tr</key>
		<string>www.google.com.tr</string>
		<key>id</key>
		<string>www.google.co.id</string>
		<key>cl</key>
		<string>www.google.cl</string>
		<key>in</key>
		<string>www.google.co.in</string>
		<key>sk</key>
		<string>www.google.sk</string>
		<key>tw</key>
		<string>www.google.com.tw</string>
		<key>hk</key>
		<string>www.google.com.hk</string>
		<key>is</key>
		<string>www.google.is</string>
		<key>hu</key>
		<string>www.google.hu</string>
		<key>lu</key>
		<string>www.google.lu</string>
		<key>sg</key>
		<string>www.google.com.sg</string>
		<key>si</key>
		<string>www.google.si</string>
		<key>za</key>
		<string>www.google.co.za</string>
		<key>ve</key>
		<string>www.google.co.ve</string>
		<key>il</key>
		<string>www.google.co.il</string>
		<key>ua</key>
		<string>www.google.com.ua</string>
	</dict>
	<key>alfred.web.images</key>
	<dict>
		<key>default</key>
		<string>www.google.com</string>
		<key>uk</key>
		<string>www.google.co.uk</string>
		<key>ca</key>
		<string>www.google.ca</string>
		<key>de</key>
		<string>www.google.de</string>
		<key>fr</key>
		<string>www.google.fr</string>
		<key>it</key>
		<string>www.google.it</string>
		<key>es</key>
		<string>www.google.es</string>
		<key>nl</key>
		<string>www.google.nl</string>
		<key>jp</key>
		<string>www.google.co.jp</string>
		<key>be</key>
		<string>www.google.be</string>
		<key>se</key>
		<string>www.google.se</string>
		<key>gr</key>
		<string>www.google.gr</string>
		<key>nz</key>
		<string>www.google.co.nz</string>
		<key>au</key>
		<string>www.google.com.au</string>
		<key>pt</key>
		<string>www.google.pt</string>
		<key>ie</key>
		<string>www.google.ie</string>
		<key>cz</key>
		<string>www.google.cz</string>
		<key>dk</key>
		<string>www.google.dk</string>
		<key>no</key>
		<string>www.google.no</string>
		<key>pl</key>
		<string>www.google.pl</string>
		<key>ru</key>
		<string>www.google.ru</string>
		<key>at</key>
		<string>www.google.at</string>
		<key>fi</key>
		<string>www.google.fi</string>
		<key>ch</key>
		<string>www.google.ch</string>
		<key>kr</key>
		<string>www.google.co.kr</string>
		<key>mx</key>
		<string>www.google.com.mx</string>
		<key>ro</key>
		<string>www.google.ro</string>
		<key>ar</key>
		<string>www.google.com.ar</string>
		<key>br</key>
		<string>www.google.com.br</string>
		<key>th</key>
		<string>www.google.co.th</string>
		<key>tr</key>
		<string>www.google.com.tr</string>
		<key>id</key>
		<string>www.google.co.id</string>
		<key>cl</key>
		<string>www.google.cl</string>
		<key>in</key>
		<string>www.google.co.in</string>
		<key>sk</key>
		<string>www.google.sk</string>
		<key>tw</key>
		<string>www.google.com.tw</string>
		<key>hk</key>
		<string>www.google.com.hk</string>
		<key>is</key>
		<string>www.google.is</string>
		<key>hu</key>
		<string>www.google.hu</string>
		<key>lu</key>
		<string>www.google.lu</string>
		<key>sg</key>
		<string>www.google.com.sg</string>
		<key>si</key>
		<string>www.google.si</string>
		<key>za</key>
		<string>www.google.co.za</string>
		<key>ve</key>
		<string>www.google.co.ve</string>
		<key>il</key>
		<string>www.google.co.il</string>
		<key>ua</key>
		<string>www.google.com.ua</string>
	</dict>
	<key>alfred.web.maps</key>
	<dict>
		<key>default</key>
		<string>www.google.com</string>
		<key>uk</key>
		<string>www.google.co.uk</string>
		<key>ca</key>
		<string>www.google.ca</string>
		<key>de</key>
		<string>www.google.de</string>
		<key>fr</key>
		<string>www.google.fr</string>
		<key>it</key>
		<string>www.google.it</string>
		<key>es</key>
		<string>www.google.es</string>
		<key>nl</key>
		<string>www.google.nl</string>
		<key>jp</key>
		<string>www.google.co.jp</string>
		<key>be</key>
		<string>www.google.be</string>
		<key>se</key>
		<string>www.google.se</string>
		<key>gr</key>
		<string>www.google.gr</string>
		<key>nz</key>
		<string>www.google.co.nz</string>
		<key>au</key>
		<string>www.google.com.au</string>
		<key>pt</key>
		<string>www.google.pt</string>
		<key>ie</key>
		<string>www.google.ie</string>
		<key>cz</key>
		<string>www.google.cz</string>
		<key>dk</key>
		<string>www.google.dk</string>
		<key>no</key>
		<string>www.google.no</string>
		<key>pl</key>
		<string>www.google.pl</string>
		<key>ru</key>
		<string>www.google.ru</string>
		<key>at</key>
		<string>www.google.at</string>
		<key>fi</key>
		<string>www.google.fi</string>
		<key>ch</key>
		<string>www.google.ch</string>
		<key>kr</key>
		<string>www.google.co.kr</string>
		<key>mx</key>
		<string>www.google.com.mx</string>
		<key>ro</key>
		<string>www.google.ro</string>
		<key>ar</key>
		<string>www.google.com.ar</string>
		<key>br</key>
		<string>www.google.com.br</string>
		<key>th</key>
		<string>www.google.co.th</string>
		<key>tr</key>
		<string>www.google.com.tr</string>
		<key>id</key>
		<string>www.google.co.id</string>
		<key>cl</key>
		<string>www.google.cl</string>
		<key>in</key>
		<string>www.google.co.in</string>
		<key>sk</key>
		<string>www.google.sk</string>
		<key>tw</key>
		<string>www.google.com.tw</string>
		<key>hk</key>
		<string>www.google.com.hk</string>
		<key>is</key>
		<string>www.google.is</string>
		<key>hu</key>
		<string>www.google.hu</string>
		<key>lu</key>
		<string>www.google.lu</string>
		<key>sg</key>
		<string>www.google.com.sg</string>
		<key>si</key>
		<string>www.google.si</string>
		<key>za</key>
		<string>www.google.co.za</string>
		<key>ve</key>
		<string>www.google.co.ve</string>
		<key>il</key>
		<string>www.google.co.il</string>
		<key>ua</key>
		<string>www.google.com.ua</string>
	</dict>
	<key>alfred.web.weather</key>
	<dict>
		<key>default</key>
		<string>www.google.com</string>
		<key>uk</key>
		<string>www.google.co.uk</string>
		<key>ca</key>
		<string>www.google.ca</string>
		<key>de</key>
		<string>www.google.de</string>
		<key>fr</key>
		<string>www.google.fr</string>
		<key>it</key>
		<string>www.google.it</string>
		<key>es</key>
		<string>www.google.es</string>
		<key>nl</key>
		<string>www.google.nl</string>
		<key>jp</key>
		<string>www.google.co.jp</string>
		<key>be</key>
		<string>www.google.be</string>
		<key>se</key>
		<string>www.google.se</string>
		<key>gr</key>
		<string>www.google.gr</string>
		<key>nz</key>
		<string>www.google.co.nz</string>
		<key>au</key>
		<string>www.google.com.au</string>
		<key>pt</key>
		<string>www.google.pt</string>
		<key>ie</key>
		<string>www.google.ie</string>
		<key>cz</key>
		<string>www.google.cz</string>
		<key>dk</key>
		<string>www.google.dk</string>
		<key>no</key>
		<string>www.google.no</string>
		<key>pl</key>
		<string>www.google.pl</string>
		<key>ru</key>
		<string>www.google.ru</string>
		<key>at</key>
		<string>www.google.at</string>
		<key>fi</key>
		<string>www.google.fi</string>
		<key>ch</key>
		<string>www.google.ch</string>
		<key>kr</key>
		<string>www.google.co.kr</string>
		<key>mx</key>
		<string>www.google.com.mx</string>
		<key>ro</key>
		<string>www.google.ro</string>
		<key>ar</key>
		<string>www.google.com.ar</string>
		<key>br</key>
		<string>www.google.com.br</string>
		<key>th</key>
		<string>www.google.co.th</string>
		<key>tr</key>
		<string>www.google.com.tr</string>
		<key>id</key>
		<string>www.google.co.id</string>
		<key>cl</key>
		<string>www.google.cl</string>
		<key>in</key>
		<string>www.google.co.in</string>
		<key>sk</key>
		<string>www.google.sk</string>
		<key>tw</key>
		<string>www.google.com.tw</string>
		<key>hk</key>
		<string>www.google.com.hk</string>
		<key>is</key>
		<string>www.google.is</string>
		<key>hu</key>
		<string>www.google.hu</string>
		<key>lu</key>
		<string>www.google.lu</string>
		<key>sg</key>
		<string>www.google.com.sg</string>
		<key>si</key>
		<string>www.google.si</string>
		<key>za</key>
		<string>www.google.co.za</string>
		<key>ve</key>
		<string>www.google.co.ve</string>
		<key>il</key>
		<string>www.google.co.il</string>
		<key>ua</key>
		<string>www.google.com.ua</string>
	</dict>
	<key>alfred.web.wiki</key>
	<dict>
		<key>default</key>
		<string>wikipedia.org</string>
		<key>de</key>
		<string>de.wikipedia.org</string>
		<key>fr</key>
		<string>fr.wikipedia.org</string>
		<key>it</key>
		<string>it.wikipedia.org</string>
		<key>es</key>
		<string>es.wikipedia.org</string>
		<key>nl</key>
		<string>nl.wikipedia.org</string>
		<key>jp</key>
		<string>ja.wikipedia.org</string>
		<key>se</key>
		<string>sv.wikipedia.org</string>
		<key>gr</key>
		<string>el.wikipedia.org</string>
		<key>pt</key>
		<string>pt.wikipedia.org</string>
		<key>cz</key>
		<string>cs.wikipedia.org</string>
		<key>dk</key>
		<string>da.wikipedia.org</string>
		<key>no</key>
		<string>no.wikipedia.org</string>
		<key>pl</key>
		<string>pl.wikipedia.org</string>
		<key>ru</key>
		<string>ru.wikipedia.org</string>
		<key>at</key>
		<string>de.wikipedia.org</string>
		<key>fi</key>
		<string>fi.wikipedia.org</string>
		<key>kr</key>
		<string>ko.wikipedia.org</string>
		<key>br</key>
		<string>pt.wikipedia.org</string>
		<key>ar</key>
		<string>es.wikipedia.org</string>
		<key>mx</key>
		<string>es.wikipedia.org</string>
		<key>ro</key>
		<string>ro.wikipedia.org</string>
		<key>th</key>
		<string>th.wikipedia.org</string>
		<key>tr</key>
		<string>tr.wikipedia.org</string>
		<key>id</key>
		<string>id.wikipedia.org</string>
		<key>cl</key>
		<string>es.wikipedia.org</string>
		<key>cn</key>
		<string>zh.wikipedia.org</string>
		<key>in</key>
		<string>hi.wikipedia.org</string>
		<key>sk</key>
		<string>sk.wikipedia.org</string>
		<key>tw</key>
		<string>zh.wikipedia.org</string>
		<key>hk</key>
		<string>zh.wikipedia.org</string>
		<key>is</key>
		<string>is.wikipedia.org</string>
		<key>hu</key>
		<string>hu.wikipedia.org</string>
		<key>il</key>
		<string>he.wikipedia.org</string>
	</dict>
	<key>alfred.web.amazon</key>
	<dict>
		<key>default</key>
		<string>www.amazon.com</string>
		<key>uk</key>
		<string>www.amazon.co.uk</string>
		<key>ca</key>
		<string>www.amazon.ca</string>
		<key>de</key>
		<string>www.amazon.de</string>
		<key>at</key>
		<string>www.amazon.de</string>
		<key>fr</key>
		<string>www.amazon.fr</string>
		<key>jp</key>
		<string>www.amazon.co.jp</string>
		<key>ch</key>
		<string>www.amazon.de</string>
		<key>it</key>
		<string>www.amazon.it</string>
		<key>ie</key>
		<string>www.amazon.co.uk</string>
		<key>es</key>
		<string>www.amazon.es</string>
		<key>au</key>
		<string>www.amazon.com.au</string>
		<key>br</key>
		<string>www.amazon.com.br</string>
		<key>cn</key>
		<string>www.amazon.cn</string>
		<key>mx</key>
		<string>www.amazon.com.mx</string>
		<key>in</key>
		<string>www.amazon.in</string>
	</dict>
	<key>alfred.web.ebay</key>
	<dict>
		<key>default</key>
		<string>www.ebay.com</string>
		<key>uk</key>
		<string>www.ebay.co.uk</string>
		<key>ca</key>
		<string>www.ebay.ca</string>
		<key>de</key>
		<string>www.ebay.de</string>
		<key>fr</key>
		<string>www.ebay.fr</string>
		<key>it</key>
		<string>www.ebay.it</string>
		<key>es</key>
		<string>www.ebay.es</string>
		<key>nl</key>
		<string>www.ebay.nl</string>
		<key>au</key>
		<string>www.ebay.com.au</string>
		<key>ie</key>
		<string>www.ebay.ie</string>
		<key>at</key>
		<string>www.ebay.at</string>
		<key>ch</key>
		<string>www.ebay.ch</string>
		<key>sg</key>
		<string>www.ebay.com.sg</string>
	</dict>
	<key>alfred.web.yahoo</key>
	<dict>
		<key>default</key>
		<string>search.yahoo.com</string>
		<key>uk</key>
		<string>uk.search.yahoo.com</string>
		<key>ca</key>
		<string>ca.search.yahoo.com</string>
		<key>de</key>
		<string>de.search.yahoo.com</string>
		<key>fr</key>
		<string>fr.search.yahoo.com</string>
		<key>it</key>
		<string>it.search.yahoo.com</string>
		<key>es</key>
		<string>es.search.yahoo.com</string>
		<key>nl</key>
		<string>nl.search.yahoo.com</string>
		<key>jp</key>
		<string>jp.search.yahoo.com</string>
		<key>se</key>
		<string>se.search.yahoo.com</string>
		<key>nz</key>
		<string>nz.search.yahoo.com</string>
		<key>au</key>
		<string>au.search.yahoo.com</string>
		<key>ie</key>
		<string>ie.search.yahoo.com</string>
		<key>dk</key>
		<string>dk.search.yahoo.com</string>
		<key>no</key>
		<string>no.search.yahoo.com</string>
		<key>ru</key>
		<string>ru.search.yahoo.com</string>
		<key>at</key>
		<string>at.search.yahoo.com</string>
		<key>ch</key>
		<string>ch.search.yahoo.com</string>
		<key>kr</key>
		<string>kr.search.yahoo.com</string>
		<key>mx</key>
		<string>mx.search.yahoo.com</string>
		<key>ro</key>
		<string>ro.search.yahoo.com</string>
		<key>ar</key>
		<string>ar.search.yahoo.com</string>
		<key>br</key>
		<string>br.search.yahoo.com</string>
		<key>th</key>
		<string>th.search.yahoo.com</string>
		<key>tr</key>
		<string>tr.search.yahoo.com</string>
		<key>id</key>
		<string>id.search.yahoo.com</string>
		<key>cl</key>
		<string>cl.search.yahoo.com</string>
		<key>in</key>
		<string>in.search.yahoo.com</string>
		<key>tw</key>
		<string>tw.search.yahoo.com</string>
		<key>hk</key>
		<string>hk.search.yahoo.com</string>
		<key>cn</key>
		<string>cn.search.yahoo.com</string>
		<key>sg</key>
		<string>sg.search.yahoo.com</string>
	</dict>
</dict>
</plist>
